{% extends "layout.html" %}

{% block title %}Blog | Ben Harris{% endblock %}

{% block header %}
  {{ parent() }}
  <link rel="stylesheet" href="/static/css/sticky-footer-navbar.css">
{% endblock %}

{% block content %}

<div class="container">
  <div class="page-header">
    <h1>Ben's Blog</h1>
  </div>
</div>

{% for post in posts %}

{% endfor %}

{% endblock %}
