{% extends "layout.html" %}

{% block title %}Blog | Ben Harris{% endblock %}

{% block nav %}
  {% include 'onepage/nav.html' %}
{% endblock %}

{% block content %}

<div class="page-header">
  <h1>Blog</h1>
</div>

{% endblock %}


