{% extends "tasks/layout.html" %}


{% block header %}
  {{ parent() }}
  <link rel="stylesheet" href="../css/sticky-footer-navbar.css">
{% endblock %}


{% block title %}Tasks{% endblock %}


{% block content %}
  <div class="container">
    <p>Hello {{ user }}</p>
    New Task: <input type="text">
  </div>
{% endblock %}


{% block footer %}

{% endblock %}