{% extends "patternbook/layout.html" %}

{% block content %}

<div class="jumbotron">

  <div class="container" style="padding-top: 50px; text-align: center;">
    <h1><strong>Software Engineering Patterns</strong></h1>
  </div>

</div>

<div class="container" role="main">

  <div class="page-header">
    <h3>Ben Harris' Pattern Book</h3>
  </div>

  <p>This is collection of experiences I have noticed in my experiences with software development so far.</p>
  <p>Patterns are:</p>
  <ul>
    <li>element of grammar</li>
    <li>in programming languages: production</li>
    <li>describe and think about our designs using patterns</li>
  </ul>

  <p>Anatomy of a pattern:</p>
  <ul>
      <li>name</li>
      <li>common issue to be solved</li>
      <li>(re)solution</li>
      <li>examples (if applicable)</li>
      <li>related patterns</li>
  </ul>

  <div class="page-header"><h2><strong>Allow, don't force.</strong></h2></div>


</div>
{% endblock %}