<nav class="navbar navbar-fixed-top navbar-dark bg-primary">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
        &#9776;
      </button>
  <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
      <div class="container-fluid">
          <a class="navbar-brand" href="/patternbook"><img src="/img/favicon-32x32.png" alt="brand"></a>
      </div>
      <div class="container-fluid">
          <ul class="nav navbar-nav pull-xs-right">
            <li class="nav-item dropdown">
              <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">Creational</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/patternbook/factory">Factory</a>
                <a class="dropdown-item" href="/patternbook/doubledispatch">Double Dispatch</a>
                <a class="dropdown-item" href="/patternbook/prototype">Prototype</a>
                <a class="dropdown-item" href="/patternbook/abstractfactory">Abstract Factory</a>
                <a class="dropdown-item" href="/patternbook/lazyinitialization">Lazy Initialization</a>
                <a class="dropdown-item" href="/patternbook/builder">Builder</a>
                <a class="dropdown-item" href="/patternbook/singleton">Singleton</a>
                <a class="dropdown-item" href="/patternbook/nullobject">Null Object</a>
              </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="">Structural</a>
                <div class="dropdown-menu">
                  <a href="/patternbook/facade" class="dropdown-item">Facade</a>
                  <a href="/patternbook/composite" class="dropdown-item">Composite</a>
                  <a href="/patternbook/decorator" class="dropdown-item">Decorator</a>
                  <a href="/patternbook/future" class="dropdown-item">Future</a>
                  <a href="/patternbook/bridge" class="dropdown-item">Bridge</a>
                  <a href="/patternbook/adapter" class="dropdown-item">Adapter</a>
                  <a href="/patternbook/flyweight" class="dropdown-item">Flyweight</a>
                  <a href="/patternbook/proxy" class="dropdown-item">Proxy</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a href="" data-toggle="dropdown" class="nav-link dropdown-toggle">Behavioral</a>
               <div class="dropdown-menu">
                 <a class="dropdown-item" href="/patternbook/command">Command</a>
                 <a class="dropdown-item" href="/patternbook/observer">Observer</a>
                 <a class="dropdown-item" href="/patternbook/mediator">Mediator</a>
                 <a class="dropdown-item" href="/patternbook/visitor">Visitor</a>
                 <a class="dropdown-item" href="/patternbook/interpreter">Interpreter</a>
                 <a class="dropdown-item" href="/patternbook/iterator">Iterator</a>
                 <a class="dropdown-item" href="/patternbook/memento">Memento</a>
                 <a class="dropdown-item" href="/patternbook/chainofresponsibility">Chain of Responsibility</a>
                 <a class="dropdown-item" href="/patternbook/template">Template Method</a>
                 <a class="dropdown-item" href="/patternbook/state">State</a>
                 <a class="dropdown-item" href="/patternbook/strategy">Strategy</a>
               </div>
            </li>
            <li class="nav-item">
              <form action="/patternbook" method="GET" role="search">
                <div class="input-group">
                  <input type="text" name="q" id="searchbox" class="form-control" autocomplete="off" data-provide="typeahead" placeholder="Search">
                  <!--             <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                  </div> -->
                </div>
              </form>
            </li>
          </ul>
      </div>
  </div>
</nav>