{% extends "onepage/layout.html" %}

{% block header %}
  {{ parent() }}
  <link href="css/scrolling-nav.css" rel="stylesheet">
{% endblock %}

{% block nav %}
  {% include 'onepage/nav.html' %}
{% endblock %}

{% block content %}

<!-- Intro Section -->
    <section id="intro" class="intro-section">
      <div class="jumbotron">
        <div class="container">
          {# <img src="img/mackinac.jpg" alt="me"> #}
          <h1><strong>BENJAMIN H. HARRIS</strong></h1>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <a class="btn btn-default btn-lg page-scroll" href="#about">About Me</a>
          </div>
        </div>
      </div>
    </section>

    <!-- About Section -->
    <section id="about" class="about-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1>About Me</h1>
            <p>I am a computer science student at Northern Michigan University</p>
            <p>Traveling the world is one of my favorite hobbies</p>
            <p>I'm a full-stack web developer</p>
            <p>PHP is my strongest web-fu</p>
            <a href="#contact" class="btn btn-default page-scroll">Contact Me</a>
            <p>or</p>
            <p>Check out my</p>
            <a href="/resume" class="btn btn-default">Resume</a>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Contact Me</h1>
                    <p>You can find me on these sites:</p>
                    <ul class="text-muted list-inline">
                      <li><a href="https://github.com/benharri"><span class="fa fa-github"></span> GitHub</a></li>
                      <li><a href="https://telegram.me/benharris"><span class="fa fa-paper-plane"></span> Telegram</a></li>
                      <li><a href="https://www.linkedin.com/in/benjaminhharris"><span class="fa fa-linkedin"></span> LinkedIn</a></li>
                      <li><a href="mailto:me@benhharris.com"><span class="fa fa-envelope"></span> Email</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


{% endblock %}


{% block footer %}
  <footer class="footer">
    <div class="container">
      <p class="text-center text-muted">Ben Harris 2016</p>

    </div>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>

  <!-- Scrolling Nav JavaScript -->
  <script src="js/jquery.easing.min.js"></script>
  <script src="js/scrolling-nav.js"></script>
{% endblock %}