{% extends "layout.html" %}

{% block title %}Portfolio | Ben Harris{% endblock %}

{% block header %}
  {{ parent() }}
  <link rel="stylesheet" href="/css/sticky-footer-navbar.css">
{% endblock %}

{% block content %}

<div class="container">
  <div class="page-header">
    <h1>Portfolio</h1>
  </div>
  <div class="alert alert-danger" role="alert">This page is still under construction</div>
  <p>Here's some work that I'm proud of</p>
  <a href="{{ path("patternbook") }}" class="btn btn-default" role="button"><img src="/img/favicon-16x16.png"> My CS326 Patternbook</a>
  <a href="https://github.com/benharri" class="btn btn-primary" role="button"><span class="fa fa-github"></span> Github</a>
  <a href="https://github.com/benharri/benhh.com" class="btn btn-primary"><span class="fa fa-github"></span> This site on Github</a>
</div>

{% endblock %}



{% block footer %}
    {{ parent() }}
    <script>
    jQuery(document).ready(function($){
        $(".nav>li#portfolio").addClass("active");
    });
    </script>
{% endblock %}