{% extends "layout.html" %}

{% block title %}Portfolio | Ben Harris{% endblock %}

{% block header %}
  {{ parent() }}
  <link rel="stylesheet" href="/css/sticky-footer-navbar.css">
{% endblock %}

{% block content %}

<div class="container">
  <br>
  <h1>Portfolio</h1>
  <hr>
  <div class="alert alert-danger" role="alert">This page is still under construction</div>
  <p>Here's some work that I'm proud of</p>
  <a href="{{ path("patternbook") }}" class="btn btn-success" role="button"><img src="/img/favicon-16x16.png"> My CS326 Patternbook</a>
  <div class="btn-group">
    <a href="https://github.com/benharri" class="btn btn-primary" role="button"><span class="fa fa-github"></span> Github</a>
    <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="https://github.com/benharri/benhh.com"><span class="fa fa-github"></span> This site on Github</a>
    </div>
  </div>
</div>

{% endblock %}



{% block footer %}
    {{ parent() }}
    <script>
    jQuery(document).ready(function($){
        $("#portfolio").addClass("active");
    });
    </script>
{% endblock %}