{% extends "layout.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container" role="main">
  <div class="page-header">
    <h1>About Me</h1>
  </div>

</div>

{% endblock %}