{% extends "layout.html" %}

{% block title %}About{% endblock %}

{% block header %}
  {{ parent() }}
  <link rel="stylesheet" href="css/sticky-footer-navbar.css">
{% endblock %}

{% block content %}
<div class="container" role="main">
  <div class="page-header">
    <h1>About Me</h1>
  </div>

</div>

{% endblock %}