{% extends "layout.html" %}

{% block title %}Contact{% endblock %}


{% block content %}
<div class="container" role="main">
  <div class="page-header"><h1>Contact</h1></div>

  <p>You can contact me in various ways:</p>
  <ul>
    <li><a href="https://github.com/benharri">GitHub</a></li>
    <li><a href="https://telegram.me/benharris">Telegram</a></li>
    <li><a href="mailto:me@benhharris.com">Email</a></li>
    <li><a href="https://www.linkedin.com/in/benjaminhharris">LinkedIn</a></li>
    <li><a href="https://www.instagram.com/bharrismac/">Instagram</a></li>
    <li><a href="https://twitter.com/bharrismac">Twitter</a></li>
    <li><a href="https://plus.google.com/u/0/+BenHarriss">Google+</a></li>
    <li><a href="https://www.facebook.com/bharrismac">Facebook</a></li>
  </ul>


</div>

{% endblock %}