<!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search card -->
                <div class="card card-block">
                    <h4 class="card-title">Blog Search</h4>
                    <form action="{{ url('blog-search') }}" method="get">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <span class="fa fa-search"></span>
                            </button>
                            </span>
                        </div>
                    </form>
                </div>

                {% if post.tags is defined %}
                    <!-- Blog Categories card -->
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">Blog Categories</h4>
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for tag in post.tags %}
                            <li class="list-group-item"><a href="#">{{ tag }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <!-- Side Widget card -->
                <div class="card card-block">
                    <h4 class="card-title">About this Blog</h4>
                    <p>This is my blog. I write about stuff that I find interesting, which is many things - but it's generally focused on technology and development.</p>
                </div>

            </div>