{% extends "layout.html" %}

{% block bodytags %}id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"{% endblock %}

{% block header %}
  {{ parent() }}
  <link href="/css/scrolling-nav.css" rel="stylesheet">
{% endblock %}

{% block content %}

<!-- Intro Section -->
    <section id="intro" class="intro-section">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1><strong style="font-family: 'Cutive Mono', monospace;">Benjamin Hamilton Harris</strong></h1>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <a class="btn btn-primary btn-lg page-scroll" href="#about">About Me</a>
          </div>
        </div>
      </div>
    </section>

    <!-- About Section -->
    <section id="about" class="about-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>About Me</h1>
            <hr>
            <br>
            <p>I study computer science at Northern Michigan University</p>
            <p>Traveling the world is one of my favorite hobbies</p>
            <p>I'm into full-stack web development, especially PHP stuff</p>
            <br>
            <p>Check out my</p>
            <a href="/resume" class="btn btn-success">Resume</a>
            <p>and</p>
            <a href="#contact" class="btn btn-primary page-scroll">Contact Me</a>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                  <h1>Contact Me</h1>
                  <hr>
                  <br>
                  <a role="button" class="btn btn-success btn-lg" href="mailto:me@benhh.com"><span class="fa fa-envelope"></span> Email me</a>
                  <br><br>
                  <p>You can find me on these sites too:</p>
                    <div class="btn-group" role="group">
                      <a role="button" class="btn btn-primary" href="https://github.com/benharri"><span class="fa fa-github"></span> GitHub</a>
                      <a role="button" class="btn btn-primary" href="https://telegram.me/benharris"><span class="fa fa-paper-plane"></span> Telegram</a>
                      <a role="button" class="btn btn-primary" href="https://www.linkedin.com/in/benjaminhharris"><span class="fa fa-linkedin"></span> LinkedIn</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}


{% block footer %}
  <footer class="footer">
    <div class="container">
      <p class="text-xs-center text-muted"><i class="fa fa-copyright" aria-hidden="true"></i> Ben Harris 2016</p>
    </div>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>

  <!-- Scrolling Nav JavaScript -->
  <script src="/js/jquery.easing.min.js"></script>
  <script src="/js/scrolling-nav.js"></script>
{% endblock %}