<!-- Navigation -->
{#     <nav class="navbar navbar-dark" role="navigation">
        <div class="container">
            <div class="navbar-header{% if scrollnav is defined %} page-scroll{% endif %}">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand{% if scrollnav is defined %} page-scroll{% endif %}" href="{% if scrollnav is defined %}#page-top{% else %}{{ path('homepage') }}{% endif %}"><strong><i>BHH</i></strong></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    {% if scrollnav is defined %}
                        <li class="hidden"><a href="#page-top" class="page-scroll"></a></li>
                    {% endif %}
                    <li><a{% if scrollnav is defined %} class="page-scroll"{% endif %} href="{% if not scrollnav is defined %}{{ path('homepage') }}{% endif %}#about">About</a></li>
                    <li><a{% if scrollnav is defined %} class="page-scroll"{% endif %} href="{% if not scrollnav is defined %}{{ path('homepage') }}{% endif %}#contact">Contact</a></li>
                    <li id="blog"><a href="{{ path('blog-home') }}">Blog</a></li>
                    <li id="portfolio"><a href="{{ path('portfolio') }}">Portfolio</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav> #}

{% if scrollnav is defined %}
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
        &#9776;
      </button>
  <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
      <div class="container">
          <a class="navbar-brand page-scroll" href="#page-top"><strong style="font-family: 'Roboto Mono', monospace;">BHH</strong></a>
      </div>
      <div class="container">
          <ul class="nav navbar-nav pull-xs-right">
            <li class="nav-item">
              <a class="nav-link page-scroll" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link page-scroll" href="#contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('portfolio') }}">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('blog-home') }}">Blog</a>
            </li>
          </ul>
      </div>
  </div>
</nav>

{% else %}
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
        &#9776;
      </button>
  <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
      <div class="container">
          <a class="navbar-brand" href="/"><strong style="font-family: 'Roboto Mono', monospace;">BHH</strong></a>
      </div>
      <div class="container">
          <ul class="nav navbar-nav pull-xs-right">
            <li class="nav-item">
                <a href="{{ path('homepage') }}" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('homepage') }}#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('homepage') }}#contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="portfolio" href="{{ path('portfolio') }}">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="blog" href="{{ path('blog-home') }}">Blog</a>
            </li>
          </ul>
      </div>
  </div>
</nav>
{% endif %}