<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteEngine On
    RewriteCond %{REQUEST_URI} !^/blog  [OR]
    RewriteCond %{REQUEST_FILENAME} !-f [OR]
    RewriteRule ^ index.php [L]
</IfModule>